div#logo.header.item
   {
       background: orange;
   }

div#promote
{
    background-image: linear-gradient(#202d5f, #614381);
}
div#create_service_buttons.inline.field
{
    padding-top: 1em;
}
div#service_card.ui.card
{
    border-width: 1em;
   box-shadow: black;
}
